 body {

  font-family: Tahoma;
  line-height: 1.5;
}
.Head {
  min-width:  450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav {
display: flex;
list-style-type: none;
padding-left: 0;
text-transform: uppercase;
}
.nav>li {
  padding-left: 23px;
  margin-left: 22px;
  position: relative;
}
.nav>li:first-child{
  padding-left: 0;
  margin-left: 0;
}
.nav>li::before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background-color:  #dfdedf;
  position: absolute;
  left: 0
}
.nav>li:first-child::before{
  display: none;
}
.nav>li>a {
  text-decoration: none;
  color: #575153;
}
.Wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.article {
  background-color: rgb(236, 238, 231);

}
.title1 {
  background-color: #fc9f23;
  margin: 0;
}
.title2{
  background-color: rgba(233, 40, 40, 0.95);
  margin: 0;
}
.title3{
  background-color: rgb(44, 195, 45);
  margin: 0;
}
.title4{
  background-color: #37b9b9;
  margin: 0;
}
.title5{
  background-color: rgb(73, 17, 191);
  margin: 0;
}
.title6{
  background-color: rgb(246, 117, 237);
  margin: 0;
}
.title7{
  background-color: rgb(205, 114, 39);
  margin: 0;
}
.title8{
  background-color: rgb(75, 77, 78);
  margin: 0;
}
a {
  text-decoration: none;
  color: #484949
}
.main{
  display: flex;
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
